<div class="page-header">
  <h1>
    All Tablets
    <div class="pull-right">
      <%= link_to new_tablet_path, class: "btn btn-lg btn-success" do %>
        <i class="fa fa-plus"></i>
        New Tablet
      <% end %>
    </div>
  </h1>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <% @tablets.each do |tablet| %>
        <li class="list-group-item">
          <%= link_to tablet_path(tablet) do %>
            <div class="">
              <h3><%= tablet.name %></h3>
            </div>
          <% end %>
          <p>Created by: <%= tablet.user.email %></p>
          <p>Items</p>
          <ul>
            <% tablet.items.each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>



<h3>ignore, for reference only:</h3>


<h1>Listing Tablets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Merchant</th>
      <th>Items</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tablets.each do |tablet| %>
      <tr>
        <td><%= tablet.name %></td>
        <td><%= tablet.merchant_id %></td>
        <td><%= tablet.items %></td>
        <td><%= tablet.user %></td>
        <td><%= link_to 'Show', tablet %></td>
        <td><%= link_to 'Edit', edit_tablet_path(tablet) %></td>
        <td><%= link_to 'Destroy', tablet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tablet', new_tablet_path %>
