<div class="page-header">
  <h1>
    All Tablets
    <div class="pull-right">
      <%= link_to new_tablet_path, class: "btn btn-lg btn-success" do %>
        <i class="fa fa-plus"></i>
        New Tablet
      <% end %>
    </div>
  </h1>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
  <% @tablets.each do |tablet| %>
    <li>
      <%= link_to tablet_path(tablet) do %>
        <div class="">
          <%= tablet.name %>
        </div>
      <% end %>
    </li>
  <% end %>
</div>





<h1>Listing Tablets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Merchant</th>
      <th>Items</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tablets.each do |tablet| %>
      <tr>
        <td><%= tablet.name %></td>
        <td><%= tablet.merchant_id %></td>
        <td><%= tablet.items %></td>
        <td><%= tablet.user %></td>
        <td><%= link_to 'Show', tablet %></td>
        <td><%= link_to 'Edit', edit_tablet_path(tablet) %></td>
        <td><%= link_to 'Destroy', tablet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tablet', new_tablet_path %>
