
<p>
  <strong>Name:</strong>
  <%= @tablet.name %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @tablet.merchant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @tablet.user %>
</p>

<p>
  <strong>Orders:</strong>
  <% @current_orders.each do |order| %>
    <p><%= order %></p>
    <% end %>
</p>


<%= link_to 'Edit', edit_tablet_path(@tablet) %> |
<%= link_to 'Back', tablets_path %>
