<h1>Orders</h1>

<%= @clover.orders %>
<!-- <%= @new_orders %> -->

<h2>Create an new order</h2>

<%= form_tag do |f| %>
  <%= text_field_tag :order_title, nil, placeholder: 'Order Title' %><br />
  <%= submit_tag("Submit") %>
<% end %>
